<template name="main">
  <title>Let's play!</title>

<body>

<!-- Welcome/Logout -->
    <div class="large-9 columns">
      <ul class="inline-list right">
      <h5>Welcome Boss Man Francis
        <a href="#" id="logout">Logout</a>
      </h5>
      </ul>
    </div>

<!-- MAP -->
    <div class="row">
      <div class="large-9 push-3 columns">

        <h3>WHERE ARE THE HOTTIES?
         <ul class="button-group round">
          <li><a href="#" class="button">Add Marker</a></li>
          <li><a href="#" class="button">Delete Marker</a></li>
          <li> <input class="button" type="filepicker" data-fp-apikey="AL1xLgWq0SsykUvj3fM0lz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-store-location="s3" data-fp-services="BOX,CLOUDDRIVE,COMPUTER,DROPBOX,FACEBOOK,GITHUB,GOOGLE_DRIVE,FLICKR,EVERNOTE,GMAIL,INSTAGRAM,IMAGE_SEARCH,URL,PICASA,FTP,CUSTOMSOURCE,CLOUDAPP,IMGUR" onchange="alert(event.fpfile.url)">
            </li>
          </ul>
        </h3>
        {{> map}}

        <div id="comment">
        <p>Blah blah blah</p>
        </div>

      </div>

<!-- LEFT SIDE -->
    <div class="large-3 pull-9 columns">

      <ul class="side-nav">
        <p>
          <!-- Modal -->
          <a href="#" data-reveal-id="myModal"><img src="http://images5.fanpop.com/image/photos/24800000/Pusheen-pusheen-the-cat-24896962-173-147.gif"></a>
          <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h2 id="modalTitle">THIS IS MY MODAL</h2>
            <p class="lead">I like Chocolate Chip Cookies</p>
            <p>Insert picture? Time/Date? Username?</p>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
          <h2>Upvote/DownVote Like Comment</h2>
        </p>
         <p>
          <!-- Modal -->
          <a href="#" data-reveal-id="myModal"><img src="http://images5.fanpop.com/image/photos/24800000/Pusheen-pusheen-the-cat-24896962-173-147.gif"></a>
          <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h2 id="modalTitle">THIS IS MY MODAL</h2>
            <p class="lead">I like Chocolate Chip Cookies</p>
            <p>Insert picture? Time/Date? Username?</p>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
          <h2>Upvote/DownVote Like Comment</h2>
        </p>
        <p>
          <!-- Modal -->
          <a href="#" data-reveal-id="myModal"><img src="http://images5.fanpop.com/image/photos/24800000/Pusheen-pusheen-the-cat-24896962-173-147.gif"></a>
          <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h2 id="modalTitle">THIS IS MY MODAL</h2>
            <p class="lead">I like Chocolate Chip Cookies</p>
            <p>Insert picture? Time/Date? Username?</p>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
          </div>
          <h2>Upvote/DownVote Like Comment</h2>
        </p>
      </ul>
    </div>
</div>

</body>


 <!-- FOOTER -->
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright to Francis, Naomi, El, and Kasi</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
          <a href="#">This</a>
           <a href="#">is</a>
           <a href="#">the</a>
           <a href="#">footer</a>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>